/* DESKTOP SCREEN */

@media only screen and (min-width: 1250px) { 

    h1 {
        font: var(--text-serif-title);
        line-height: 140%;
    }
    
    /* BACKGROUND PATTERN */
    .pattern {
        grid-template-columns: 2em 1fr 2em;
        grid-template-rows: 2em 1fr 2em;
    }
    /* ----------------------------------------------- */


    /* CONTAINER GRID */
    .container {
        display: grid;
        grid-row: 2;
        grid-column: 2;
        grid-template-columns: 2em repeat(10, 1fr) 2em;
        grid-template-rows: 1fr auto auto auto auto auto 8em;
        grid-gap: .5em;
        grid-auto-flow: dense;    
        max-width: 1200px;
        /* background-color: var(--color-card); */
        /* box-shadow:  0px 0px 30px var(--color-bg-coral-dark); */
        border-radius: 10px;
        grid-template-areas:
            ".              MenuLeft        MenuLeft        .               Logo            Logo            Logo            Logo            .               MenuRight       MenuRight       ."
            ".              .               .               Headline        Headline        Headline        Headline        Headline        Headline        .               .               ."
            "showContainer              showContainer               showContainer               showContainer   showContainer   showContainer   showContainer   showContainer   showContainer   showContainer               showContainer               showContainer"
            ".              Filters         Filters         Filters         Filters         Filters         Filters         Filters         Filters         Filters         Filters         ."
            ".              Directory       Directory       Directory       Directory       Directory       Directory       Directory       Directory       Directory       Directory       ."
            ".              Footer          Footer          Footer          Footer          Footer          Footer          Footer          Footer          Footer          Footer          ."
            ;
    }   


     /* LOGOMARK */

     .logo {
        margin: 1em 0 0 0;
      }

    /* ----------------------------------------------- */
    
    /* HEADLINE */
    .headline {
        margin: -2em 0 2em 0;
        /* min-height: 60vh; */
    }

    .headline-wrapper {
        display: grid;
        grid-area: Headline;
        min-height: 55vh;
    }

    .headline-wrapper-small {
        grid-area: Headline;
        margin: 4em 0 0 0;
    }

    .headlineFilter {
        font-size: 1em;
    }

    .headline-menu-left {
        margin: 5vh 0 0 0;
        grid-area: MenuLeft;
        align-self: center;
        width: max-content;
    }

    .headline-menu-left a {
        display: block;
        margin: 0 0 0 0;
    }

    .headline-menu-right {
        margin: 5vh 0 0 0;
        grid-area: MenuRight;
        align-self: center;
        text-align: right;
    }

    .headline-menu-right a {
        font-size: .8em;
        margin: 1em 0 0 0;
    }

    .headline-menu--link { 
        font: var(--text-mono-menu);
    }
    
    .headline-menu--about {
    }

    /* ----------------------------------------------- */

    /* SUBSCRIBE */
    .email-form {  
     }

    .email-form input { 
        width: 20ch;
    }

    .email-form input:hover { }

    .email-form input:focus { }

    .email-form button { 
        font: var(--text-mono-menu);
    }

    .email-form button:hover { }
    /* ----------------------------------------------- */

    /* PODCAST SHOW */

    #showContainer {
    }

    .podcast {
    }

   

    /* ----------------------------------------------- */


    /* DIRECTORY LISTING */
    .directory {
        grid-template-columns: repeat(12, minmax(0,1fr));
    }

    .directory-list {
        font: var(--text-mono--item);
    }

    .directory-block {
        display: grid;
        grid-column: span 3;
        margin: 0 0 2em 0;
        align-self: start;
        /* if we want to look at evening out the spacing veritcally, set this to center */
    }

    .directory-block--item  {
        line-height: 1.6em;
        border-bottom: none;
        text-align: center;
    }

    .directory-block--title {
        font: var(--text-gin-small);
        text-align: center;
     }

    /* by filter style */
    .directory-block--filter { }

    /* hover effects */
    .directory-block--item:hover { }    
    /* ----------------------------------------------- */


    /* CATEGORY & TAG CONTAINER*/
    .filters {
        font: var(--text-mono-menu);
        margin: 6em 0 0 0;
        text-align: center;
        /* background-color: var(--color-test); */
    }
    
    .filter-cat-container {
        display: none;   
    }

    #ShowTags {             display: none;  }
    #filter-tag--toggle {   display: block;  }


    /* ----------------------------------------------- */

    /* About page content */

    .aboutContent {
        grid-column: 4 / span 6;
        grid-row-start: 3;
    }

    .aboutContent a {
    }

    .aboutContent a:hover {
    }

    .spacer {
        grid-row-start: 4;
        min-height: 50vmin;
    }

    /* ----------------------------------------------- */
}