/* MOBILE SCREEN */

@media only screen and (min-width: 300px) { 

    h1 {
        font: 400 2em Spectral, serif;
        line-height: 140%;
    }
    
    h2 {
        font: 600 1em Spectral, serif;
    }

    /* BACKGROUND PATTERN */
    .pattern {
        background: url(../static/pattern04c.png);
        background-color: var(--color-bg-coral);
        display: grid;
        grid-template-columns: 1fr 30fr 1fr;
        grid-template-rows: 2.5em 1fr 2em;
    }
    /* ----------------------------------------------- */

    .container {
        display: grid;
        grid-row: 2;
        grid-column: 2;
        grid-template-columns: 1.5em repeat(6, 1fr) 1.5em;
        grid-template-rows: 1fr auto auto auto auto auto auto 8em;
        grid-gap: .5em;
        grid-auto-flow: dense;    
        min-height: 50vmin;
        max-width: 400px;
        margin: 0 auto;
        /* background-color: var(--color-card); */
        /* box-shadow:  0px 0px 30px var(--color-bg-coral-dark); */
        border-radius: 10px;
        grid-template-areas:
            ".              .               Logo            Logo            Logo            Logo            .               ."
            ".              Headline           Headline           Headline           Headline           Headline           Headline           ."
            ".              showContainer   showContainer   showContainer   showContainer   showContainer   showContainer   ."
            ".              Contact         Contact         Contact         Contact         Contact         Contact         ."
            ".              Filters         Filters         Filters         Filters         Filters         Filters         ."
            ".              Directory       Directory       Directory       Directory       Directory       Directory       ."
            /* ". . Footer . . " */
            ;
    }  

    .logo {
        display: grid;
        grid-area: Logo;
        background-image: url(../static/scLogo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 4em; 
        /* margin: -1em 0 0 0; */
        align-self: top;
        background-position: center;
    }

    /* ----------------------------------------------- */
    
    /* HEADLINE */
    .headline {
        display: grid;
        text-align: center;
    }

    .headline-wrapper {
        grid-area: Headline;
        max-height: 20vh;
    }

    

    .headline h1 {
        align-self: center;
    }

    .headline-menu {
        display: grid;
        grid-area: Contact;
    }

    .headline-menu--link {
        color: var(--color-text);
        font: 400 1.2em JetBrains-Mono, sans-serif;
        text-transform: uppercase;
        border: .1em solid var(--color-card);
        padding: .3em .4em .2em .4em;
        margin: -2em 0 0 3em;
        width: max-content;
        justify-self: center;
        align-self: start;
    }

    .headline-menu--about {
        justify-self: end;
    }

    .headline-menu--link:hover {
        background: var(--color-bg-coral);
        box-shadow: -.3em .3em 0px var(--color-listingHover-shadow);
        cursor: pointer;
    }
    /* ----------------------------------------------- */

    /* SUBSCRIBE */
    .email-form {
    }

    .email-form input {
        font: 400 1.2em JetBrains-Mono, sans-serif;
        padding: .2em .4em .1em .2em;
        margin: 0 0 .2em .1em;
        text-align: right;
        background-color: var(--color-card);
        width: 100%;
    }

    .email-form input:hover {
        background-color: var(--color-bg-coral);
    }

    .email-form input:focus {
        box-shadow: 0 0 5px var(--color-bg-coral);
        background-color: var(--color-bg-coral);
        outline: none;
        outline-offset: none;
    }

    .email-form button {
        color: var(--color-text);
        font: var(--text-serif--item);
        text-transform: uppercase;
        background: var(--color-card);
        border: .1em solid var(--color-card);
        padding: .3em .4em .2em .4em;
        margin: .6em 0 .1em .5em;
    }

    .email-form button:hover {
        background-color: var(--color-bg-coral);
        box-shadow: -.3em .3em 0px var(--color-listingHover-shadow);
        cursor: pointer;
    }
    /* ----------------------------------------------- */

    /* PODCAST SHOW */

    #showContainer {
        display: grid;
        grid-area: showContainer;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-gap: .5em;
    }

    .podcast {
        display: grid;
    }

    .podcast-promo h3 {
        font: var(--text-mono-std);
    }

    .podcast-promo h2 {
        font: var(--text-serif-bld);
    }

    .rhap_container {
        -webkit-box-shadow: 0px 4px 0px 0px #000000 !important; 
        box-shadow: 0px 4px 0px 0px var(--color-bg-coral-dark) !important;
        border: 5px solid var(--color-bg-coral) !important;
        border-radius: 10px !important;
    }

    .rhap_time {
        font: var(--text-mono-std) !important;
        color: var(--color-card) !important;
        background-color: var(--color-bg-coral) !important;
        -webkit-box-shadow: 0px 0px 5px 2px var(--color-bg-coral); 
        box-shadow: 0px 0px 5px 2px var(--color-bg-coral);
        text-shadow: 1px 1px 2px var(--color-bg-coral-dark);
        padding: .5ch;

    }


   

    /* ----------------------------------------------- */

    /* DIRECTORY LISTING */
    .directory {
        display: grid;
        grid-area: Directory;
        grid-auto-flow:dense;
        grid-template-columns: repeat(4, minmax(0,1fr));
        grid-gap: .5em;
    }

    .directory-list {
        font: var(--text-serif--item);
    }

    .directory-block {
        display: grid;
        grid-column: span 8;
        margin: 0 0 2em 0;
    }

    .directory-block--item {
        line-height: 3em;
        list-style: none;
        border-bottom: 1px dashed var(--color-separator);
        text-shadow: 0em .05em 1px var(--color-card-half);
    }
    
    .directory-block--title {
        background-color: var(--color-listing-blockBG);
        color: var(--color-listing-purple);
        font: 400 .8em JetBrains-Mono, sans-serif;
        font-style: italic;
        text-shadow: 0px 1px var(--color-card);
        margin: 2em 0 0 0;
    }

     /* by filter style */
     .directory-block--filter {
        display: grid;
        min-height: 50vmin;
        grid-column: span 4;
        font: 400 1.2em JetBrains-Mono, sans-serif;
        grid-auto-flow: row;
    }

    /* hover effects */
    .directory-block--item:hover {
        font: var(--text-serif-bld);
        background: var(--color-bg-coral);
        border: .2em solid var(--color-bg-coral);
        padding: .2em .4em .1em .4em;
        margin: -.3em -.4em -.2em -.5em;
        box-shadow: -.2em .2em 0px var(--color-listingHover-shadow);
        text-decoration: none;
    }
    /* ----------------------------------------------- */


    /* CATEGORY & TAG CONTAINER*/
    .filters {
        display: grid;
        grid-area: Filters;
        margin: 2em 0 2em 0;
        font: 400 1em JetBrains-Mono, sans-serif;
        font-style: italic;
        text-transform: uppercase;
    }

    .filter-cat-container {        
    }

    .filter-tag-container {  
    }

    .filter-cat--jump {
        line-height: 1.6em;
        color: var(--color-text-tag);
        display: inline-block;
        margin: 0 .8em 0 0;
    }

    .filter-tag--size {
        line-height: 1.6em;
        color: var(--color-text-tag);
        display: inline-block;
        margin: 0 .8em 0 0;
    }

    .filter-tag--attr {
        line-height: 1.6em;
        color: var(--color-text-tag);
        display: inline-block;
        margin: 0 .8em 0 0;
    }

    .filter-tag--size:hover, .filter-tag--attr:hover {
        text-decoration: underline;
        color: var(--color-text);
    }

    /* Mobile show tags */
    #filter-tag--toggle {           display: none;    }
    #filter-tag--toggle:target {    display: block;   }
    /* ----------------------------------------------- */


    /* About page content */

    .aboutContent {
        display: grid;
        justify-self: center;
        grid-column: 2 / span 6;
        grid-row-start: 6;
    }

    .aboutContent a {
        color:var(--color-listing-purple);
        text-decoration: none;
    }

    .aboutContent a:hover {
        text-decoration: underline;
    }

    .spacer {
        display: grid;
        grid-row-start: 7;
        min-height: 30vmin;
    }

    /* ----------------------------------------------- */


    
}

